/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10),0px 1px 2px 0px rgba(0,0,0,0.2);
  gap:11px;
  height:80px;
  background-color: white;
}
header img{
  width:80px;
}
header h1{
  font-weight: 500;
}
main{
  padding:30px 30px 10px;
}
.add-form{
  display: flex;
  justify-content: center;
  height: 38px;
  gap:12px;
}
.add-form input{
  border-radius: 6px;
  border:1px solid #D1D5DB;
  padding:9px 13px;
  box-shadow:0px 1px 2px 0px rgba(0,0,0,0.05);
  flex-grow:1;
  min-width: 150px;
  max-width: 400px;
}
.add-form button{
  background-color: #141413;
  color:#FAFAF8;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  width:150px;
  font-size: 14px;
}
.add-form button::before{
  content: "+";
  margin-right: 5px;
}
.recipe{
  display:flex;
  align-items: center;
  background: #F0EFEB;
  border-radius: 8px;
  padding: 10px 28px;
  justify-content: space-between;
  min-width: 300px;
  max-width:500px;
  margin-top: 40px;
}
.recipe h3{
  line-height: 24px;
  font-weight: 500;
  font-size: 1.125rem;
}
.recipe p{
  color:#6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}
.recipe button{
  background:rgb(196, 56, 5);
  color:white;
  padding:10px 20px;
  border-radius: 6px;
  font-size: 500;
  border: none;
  outline: none;
  font-size: 14px;
}
.suggested-recipe-container{
  color:#475467;
  line-height:28px;
  font-size:1.125rem;
  font-weight:400;
}
.suggested-recipe-container ul li, .suggested-recipe-container ol li{
  margin-bottom: 8px;
}